@font-face {
    font-family: "Bacasime Antique";
    src: url("assets/fonts/Bacasime_Antique/BacasimeAntique-Regular.ttf");
}

* {
    /*box-sizing: border-box;*/
    border: 0px solid red;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Bacasime Antique", sans-serif;
    min-height: 100vh;

}