@font-face {
    font-family: "Bacasime Antique";
    src: url("assets/fonts/Bacasime_Antique/BacasimeAntique-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Bacasime Antique", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;  /*Main axes - column*/
    justify-content: space-between;  /*Maximus space between elements*/
}

.container {
    max-width: 1440px;
    margin: 0px auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

.nav-list {
    text-align: right;
    font-size: 16px;
}

.nav-item {
    display: inline-block;
}

.nav-link:link {
    padding: 0px 10px;  /*Offsets are added to links because it increases space for click*/
    line-height: 50px;
    text-decoration: none;
    transition: 2s;
}

.nav-link:hover {
    background-color: green;
    font-size: 20px;
}